.container div {
    background-color: greenyellow;
    color: white;
    height: 50px;
    margin-bottom: 20px;
}

.px {
    width: 500px;
}

.percent {
    width: 50%;
}

.em {
    width: 20em;
}

.vh {
    width: 50vh;
}